<ion-content padding>
  <ion-list>
    <div class="container">
      <ion-item>
        <ion-label floating>Valor ($)</ion-label>
        <ion-input [(ngModel)]="valor" type="text" [brmasker]="{money: true}"></ion-input>
      </ion-item>
      <div *ngIf="erroValor" style="color: red; margin-left: 16px; margin-top: 2px">
        {{erroValorMessage}}
      </div>
      <ion-item>
        <ion-label floating>Quantidade</ion-label>
        <ion-input [(ngModel)]="quantidade" type="number"></ion-input>
      </ion-item>
      <div *ngIf="erroQtd" style="color: red; margin-left: 16px; margin-top: 2px">
        {{erroQtdMessage}}
      </div>
      <br>
      <br>
      <button ion-button full round (click)="submit()">Calcular</button>
      <br>
      <div class="" *ngIf="valorTotal">
        Valor Total: {{valorTotal}}
      </div>
      <div class="" *ngIf="valorDesconto">
        Valor do Desconto: {{valorDesconto}}
      </div>
      <div class="" *ngIf="valorFinal">
        Valor Final: {{valorFinal}}
      </div>
    </div>
  </ion-list>
</ion-content>
